@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
  margin: 0;
  padding: 0%;
}

h1 {
  font-family: Space Grotesk, sans-serif;
  font-size: 50px;
  color: white;
}

h2 {
  font-family: Unica One, sans-serif;
  font-size: 65px;
  color: white;
  margin-left: 60px;
}

nav {
  margin-right: 161px;
  display: flex;
  gap: 40px;
  transition: 2s;
}

nav a:hover {
  filter: brightness(0.9);
  text-decoration: overline;
}

p {
  font-family: Space Mono, sans-serif;
  font-size: 19.25px;
  color: white;
  margin-left: 835px;
  margin-top: 10px;
}

a {
  font-family: Space Mono, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

html {
  background-image: url(/img/marte.png);
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

span {
  display: block;
}

main {
  margin-top: 180px;
}

#main {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-left: 835px;
}
